{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to the forum page!</h1>
    <h2>Threads</h2>
    <button onclick="location.href='/forum/newthread/'">New thread</button>
    <table id="threads-table">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Last post</th>
        </tr>   
        {% for t in threads %}
            <tr>
                <td><a href="thread/{{ t.pk }}">{{ t.title }}</a></td>
                <td>{{ t.description }}</td>
                <td>{{ t.originalPost.date }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}