{% extends 'base.html' %}

{% block content %}
    <h2>{{ thread.title }}</h2>
    <h5>{{ thread.description }}</h5>

    <h6>Posts</h6>
    <button onclick="location.href='/forum/thread/{{ thread.pk }}/new'">New post</button>
    <div>
        {% for p in posts %}
            <div class="post">
                <p>{{ p.date }}</p>
                <p>{{ p.content }}</p>
                <p>#{{ p.positionInThread }}</p>
                <p>Author: {{ p.user.username }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}