{% extends 'base.html' %}

{% block content %}
    <h2>{{ thread.title }}</h2>
    <h4>{{ thread.description }}</h4>
    <button onclick="location.href='/forum/thread/{{ thread.pk }}/new'">New post</button>
    <div class="thread-container">
        {% for p in posts %}
            <div class="post">
                <p class="post-date"><b>Date:</b> {{ p.date }}</p>
                <p class="post-content">{{ p.content }}</p>
                <p class="post-author"><b>Author:</b> {{ p.user.username }}</p>
                <p class="post-position">#{{ p.positionInThread }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}