<html>
    <head></head>
    <body>
        <h1>Welcome to the lore app!</h1>
        <h3>Pick a house:</h3>
        <ul>
            {% for h in houses %}
                <li><a href="/lore/house/{{h.name}}">{{ h.name }}</a></li>
            {% endfor %}
        </ul>
        <!--<ul>
            <li><a href="house/House%20Stark">House Stark</a></li>
            <li><a href="house/House%20Greyjoy">House Greyjoy</a></li>
            <li><a href="house/House%20Arryn">House Arryn</a></li>
            <li><a href="house/House%20Tully">House Tully</a></li>
            <li><a href="house/House%20Targaryen">House Targaryen</a></li>
            <li><a href="house/House%20Lannister">House Lannister</a></li>
            <li><a href="house/House%20Tyrell">House Tyrell</a></li>
            <li><a href="house/House%20Baratheon">House Baratheon</a></li>
            <li><a href="house/House%20Martell">House Martell</a></li> 
        </ul>-->
    </body>
</html>