{% extends 'base.html' %}

{% block content %}
    <div id="character-content">
        <div id="character-left-div">
            <h2>{{ character.name }}</h2>
            <img src="{{ character.image }}" width="75%">
        </div>
        <div id="character-center-div">
            {% if character.house %}
                <h4>House: {{ character.house }}</h4>
            {% else %}
                <h4>House: none</h4>
            {% endif %}

            {% if character.father %}
                <h4>Father: <a href="/lore/character/{{ character.father }}">{{ character.father }}</a></h4>
            {% else %}
                <h4>Father: unknown</h4>
            {% endif %}
            
            {% if character.mother %}
                <h4>Mother: <a href="/lore/character/{{ character.mother }}">{{ character.mother }}</a></h4>
            {% else %}
                <h4>Mother: unknown</h4>
            {% endif %}

            {% if siblings %}
                <h4>Siblings:</h4>
                <ul>
                {% for s in siblings %}
                    <li><a href="/lore/character/{{ s }}">{{ s }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div id="character-right-div">
            {% if related %}
                <h4>Related characters:</h4>
                <ul>
                    {% for r in related %}
                        <li><a href="/lore/character/{{ r.name }}">{{ r.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}