{% load static %}

<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <header>
            <h1 id="logo" onclick="location.href='/'" style="cursor: pointer">Game of Thrones</h1>
            <a id="lore-link" href="/lore">Lore</a>
            <a href="/forum">Forum</a>
            <a href="/quiz">Quiz</a>
            {% if request.session.username %}
                <p id="logged-in-indicator">Logged in as {{request.session.username}}</p>
                <a href="/logout">Log out</a>
            {% else %}
                <a href="/login">Log in</a>
            {% endif %}
        </header>
        <div class="main-container">
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>