{% extends 'base_cover.html' %}
{% block content %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
    <!--Home Sections-->

    <section id="hello" class="home bg-mega">
        <div class="overlay" id="home-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="main_home text-center">
                    <div class="home_text">
                        <h4 class="text-black text-uppercase">{% blocktrans %}The show may be over... {% endblocktrans %}</h4>
                        <h1 class="text-gray text-uppercase">{% blocktrans %} But the story continues here{% endblocktrans %}</h1>
                    </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </section> <!--End off Home Sections-->
{% endblock %}
