{% extends 'base.html' %}

{% block content %}
    <h1>Register</h1>
    <form action="/register/" method="POST">
        {% csrf_token %}
        {{ form.username.label_tag }}<br><br>
        {{ form.username }}<br><br>
        {{ form.password.label_tag }}<br><br>
        {{ form.password }}<br><br>
        {{ form.repassword.label_tag }}<br><br>
        {{ form.repassword }}<br><br>
        
        <input class="button" type="submit" value="Register" />
    </form>
    <p>Already a member? <a href="/login/">Log in</a></p>
{% endblock %}