{% extends 'base_content.html' %}

{% block content %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
    <h1>{% trans 'Register'%}</h1>
    <form action="/register_/" method="POST">
        {% csrf_token %}
        <label for="id_username">{% trans 'Your username'%}:</label><br><br>
        {{ form.username }}<br><br>
        <label for="id_password">{% trans 'Password'%}:</label><br><br>
        {{ form.password }}<br><br>
        <label for="id_repassword">{% trans 'Password (again)'%}:</label><br><br>
        {{ form.repassword }}<br><br>
        <input type="hidden" name="langCode" value="{{LANGUAGE_CODE}}">

        <input class="button" type="submit" value="{% trans 'Register'%}" />
    </form><br>
    <p>{% trans 'Already a member?'%} <a href="/{{LANGUAGE_CODE}}/login/">{% trans 'Log in'%}</a></p>
{% endblock %}